.app.light {
  --bg-color: #e9e9ea;
  --inverted-bg-color: #1e1e1e;
  --primary-color: #343434;
  --secondary-color: #2a2a2a;
  --inverted-primary-color: #6200ee;
  --inverted-secondary-color: #6e16ff;
}
